@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Web_QuanLySieuThiNho.Models.TKhachHang

@{
    ViewData["Title"] = "SuaKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa khách hàng</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaKhachHang" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div class="form-group">
                <label asp-for="MaKh" class="control-label">Mã khách hàng</label>
                <input asp-for="MaKh" class="form-control" disabled="disabled" />
                <input type="hidden" asp-for="MaKh" />
                <span asp-validation-for="MaKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKh" class="control-label">Tên khách hàng</label>
                <input asp-for="TenKh" class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label">Giới tính</label>
                <select asp-for="GioiTinh" class="form-control">
                    <option value="">-- Chọn giới tính --</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

