@model Web_QuanLySieuThiNho.ViewModels.UserProfileViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Thông tin khách hàng";
	Layout = "~/Views/Shared/Components/Login_Signup/_SignUpLayout.cshtml";
}
<!DOCTYPE html>


<body>

	<h3>Thông tin khách hàng</h3>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Save" asp-controller="Account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="MaKh"/>
				<div class="form-group">
					<label asp-for="TenDangNhap" class="control-label">Tên đăng nhập</label>
					<input asp-for="TenDangNhap" class="form-control" readonly />
					<span asp-validation-for="TenDangNhap" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="MatKhau" class="control-label">Mật khẩu</label>
					<input asp-for="MatKhau" class=" form-control" />
					<span asp-validation-for="MatKhau" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="TenKh" class="control-label">Tên khách hàng</label>
					<input asp-for="TenKh" class="form-control" />
					<span asp-validation-for="TenKh" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="GioiTinh" class="control-label">Giới tính</label>
					<input asp-for="GioiTinh" class="form-control" />

					<span asp-validation-for="GioiTinh" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
					<input asp-for="SoDienThoai" class="form-control" />
					<span asp-validation-for="SoDienThoai" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DiaChi" class="control-label">Địa chỉ</label>
					<input asp-for="DiaChi" class="form-control" />
					<span asp-validation-for="DiaChi" class="text-danger"></span>
				</div>

				<div class="form-group">
					<input type="submit" value="Lưu" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-controller="Home" asp-action="Index">Quay về màn hình chính</a> |
		<a href="javascript:void(0);" onclick="confirmLogout('@Url.Action("LogOut", "Account")')">
			Đăng xuất
		</a>
	</div>

</body>
</html>
