USE [QLSieuThiNho]
GO
/****** Object:  Table [dbo].[tChiTietHDB]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHDB](
	[SoHDB] [nvarchar](10) NOT NULL,
	[MaSanPham] [nvarchar](10) NOT NULL,
	[SLBan] [int] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tChiTietHDN]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHDN](
	[SoHDN] [nvarchar](10) NOT NULL,
	[MaSanPham] [nvarchar](10) NOT NULL,
	[SLNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGioHang]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__tGioHang__F5001DA3E89520D5] PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDonBan]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonBan](
	[SoHDB] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
	[MaKH] [nvarchar](10) NULL,
	[NgayBan] [datetime] NULL,
	[SoSanPham] [int] NULL,
	[GhiChu] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tHoaDonBan] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDonNhap]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonNhap](
	[SoHDN] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[NgayNhap] [datetime] NULL,
 CONSTRAINT [PK_tHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[TenKH] [nvarchar](200) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK_tKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tLoaiHang]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiHang](
	[MaLoaiHang] [nvarchar](10) NOT NULL,
	[TenLoaiHang] [nvarchar](100) NULL,
 CONSTRAINT [PK_tTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhaCungCap]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](200) NULL,
 CONSTRAINT [PK_tNhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[TenNV] [nvarchar](200) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tSanPham]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSanPham](
	[MaSanPham] [nvarchar](10) NOT NULL,
	[TenSanPham] [nvarchar](200) NULL,
	[MaLoaiHang] [nvarchar](10) NOT NULL,
	[DonGiaNhap] [money] NULL,
	[DonGiaBan] [money] NULL,
	[SoLuong] [int] NULL,
	[TrongLuong] [nvarchar](50) NULL,
	[MoTa] [nvarchar](3000) NULL,
	[AnhSanPham] [nvarchar](200) NULL,
 CONSTRAINT [PK_tSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tSanPhamGioHang]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSanPhamGioHang](
	[MaSanPhamGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaGioHang] [int] NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK__tSanPham__9146F8331FC9360D] PRIMARY KEY CLUSTERED 
(
	[MaSanPhamGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTaiKhoan]    Script Date: 02/11/2024 10:38:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
	[LoaiTaiKhoan] [nvarchar](20) NULL,
 CONSTRAINT [PK_tTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaSanPham], [SLBan], [ThanhTien]) VALUES (N'HDB00001', N'SP024', 3, 1020000.0000)
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaSanPham], [SLBan], [ThanhTien]) VALUES (N'HDB00001', N'SP026', 3, 720000.0000)
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaSanPham], [SLBan], [ThanhTien]) VALUES (N'HDB00001', N'SP027', 3, 369000.0000)
GO
INSERT [dbo].[tChiTietHDN] ([SoHDN], [MaSanPham], [SLNhap]) VALUES (N'HD001', N'SP001', 2)
INSERT [dbo].[tChiTietHDN] ([SoHDN], [MaSanPham], [SLNhap]) VALUES (N'HD001', N'SP002', 2)
INSERT [dbo].[tChiTietHDN] ([SoHDN], [MaSanPham], [SLNhap]) VALUES (N'HD001', N'SP003', 2)
GO
SET IDENTITY_INSERT [dbo].[tGioHang] ON 

INSERT [dbo].[tGioHang] ([MaGioHang], [MaKH], [NgayTao], [TrangThai]) VALUES (1, N'KH0001', CAST(N'2024-10-30T16:04:18.357' AS DateTime), N'DaThanhToan')
INSERT [dbo].[tGioHang] ([MaGioHang], [MaKH], [NgayTao], [TrangThai]) VALUES (2, N'KH0001', CAST(N'2024-10-30T16:12:06.623' AS DateTime), N'DaThanhToan')
INSERT [dbo].[tGioHang] ([MaGioHang], [MaKH], [NgayTao], [TrangThai]) VALUES (3, N'KH0001', CAST(N'2024-11-01T19:55:26.227' AS DateTime), N'ChuaThanhToan')
SET IDENTITY_INSERT [dbo].[tGioHang] OFF
GO
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [MaKH], [NgayBan], [SoSanPham], [GhiChu]) VALUES (N'HDB00001', N'NV001', N'KH0001', CAST(N'2024-10-30T16:12:05.200' AS DateTime), 10, NULL)
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [MaKH], [NgayBan], [SoSanPham], [GhiChu]) VALUES (N'HDB00002', N'NV001', N'KH0001', CAST(N'2024-11-01T19:55:24.863' AS DateTime), 202, NULL)
GO
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNCC], [MaNV], [NgayNhap]) VALUES (N'HD001', N'NCC001', N'NV001', CAST(N'2024-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNCC], [MaNV], [NgayNhap]) VALUES (N'HD002', N'NCC001', N'NV001', CAST(N'2024-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNCC], [MaNV], [NgayNhap]) VALUES (N'HD003', N'NCC001', N'NV001', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tKhachHang] ([MaKH], [TenDangNhap], [TenKH], [GioiTinh], [SoDienThoai], [DiaChi]) VALUES (N'KH0001', N'user', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tLoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH01', N'Sữa')
INSERT [dbo].[tLoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH02', N'Rau - Củ - Quả')
INSERT [dbo].[tLoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH03', N'Thịt - Hải Sản Tươi')
GO
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC]) VALUES (N'NCC001', N'CTY VINAMILK')
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC]) VALUES (N'NCC002', N'CTY ĐÀ LẠT GAP')
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC]) VALUES (N'NCC003', N'CTY CP ĐẦU MỐI GIA CẦM')
GO
INSERT [dbo].[tNhanVien] ([MaNV], [TenDangNhap], [TenNV], [GioiTinh], [NgaySinh], [SoDienThoai], [DiaChi], [ChucVu], [TrangThai]) VALUES (N'NV001', NULL, N'Trần Văn Giáp', N'Nam', CAST(N'2004-04-25T00:00:00.000' AS DateTime), N'0123456789', N'Cầu Giấy', NULL, N'DANGLAM')
INSERT [dbo].[tNhanVien] ([MaNV], [TenDangNhap], [TenNV], [GioiTinh], [NgaySinh], [SoDienThoai], [DiaChi], [ChucVu], [TrangThai]) VALUES (N'NV002', NULL, N'Nguyễn Tùng Lâm', N'Nam', CAST(N'2004-02-02T00:00:00.000' AS DateTime), N'0987654321', N'Giáp Bát', NULL, N'DANGLAM')
INSERT [dbo].[tNhanVien] ([MaNV], [TenDangNhap], [TenNV], [GioiTinh], [NgaySinh], [SoDienThoai], [DiaChi], [ChucVu], [TrangThai]) VALUES (N'NV003', NULL, N'Nguyễn Đình Tuấn Anh', N'Nam', CAST(N'2004-03-03T00:00:00.000' AS DateTime), N'0678912345', N'Đình Thôn', NULL, N'DANGLAM')
GO
INSERT [dbo].[tSanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [DonGiaNhap], [DonGiaBan], [SoLuong], [TrongLuong], [MoTa], [AnhSanPham]) VALUES (N'SP001', N'Thức uống lúa mạch vị sô cô la Ovaltine lốc 4 hộp x 180ml', N'LH01', 10000.0000, 27000.0000, 10, N'4 hộp', N'Thức uống lúa mạch Ovaltine bổ sung thêm cholin hoà cùng hương vị thơm ngon của cacao và sữa, giúp cơ thể hấp thụ canxi tốt hơn, phát triển chiều cao, cho bé cao lớn khoẻ mạnh. Lốc 4 hộp thức uống lúa mạch hương vị socola Ovaltine 180ml lốc 4 hộp tiện dùng, tiết kiệm', N'Ovaltine.png')
INSERT [dbo].[tSanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [DonGiaNhap], [DonGiaBan], [SoLuong], [TrongLuong], [MoTa], [AnhSanPham]) VALUES (N'SP002', N'Sữa bắp non LiF lốc 4 hộp x 180ml', N'LH01', 10000.0000, 26000.0000, 10, N'4 hộp', N'Siêu phẩm sữa bắp non Lif được tách hoàn toàn 100% từ trái bắp non mới hái, giàu vitamin A, B3, B1, B6 và đặc biệt là chất xơ, tốt cho làn da, cho hệ tiêu hoá. Lốc 4 hộp sữa bắp non LiF 180ml hương vị thơm ngon từ sữa hạt bắp mà ai cũng yêu thích, cùng đóng lốc tiện dùng và tiết kiệm.
', N'LiF.jpg')
INSERT [dbo].[tSanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [DonGiaNhap], [DonGiaBan], [SoLuong], [TrongLuong], [MoTa], [AnhSanPham]) VALUES (N'SP003', N'Lốc 4 hộp sữa chua lên men tự nhiên vị việt quất sữa Fristi 100ml', N'LH01', 5000.0000, 15000.0000, 10, N'4 hộp', N'Sữa chua là thức uống yêu thích của nhiều người đặc biệt là các bé nhỏ. Lốc 4 hộp sữa chua lên men tự nhiên vị việt quất sữa Fristi 100ml bổ sung nhiều dưỡng chất tốt cho sự phát triển của trẻ. Sữa chua Fristi với quá trình lên men tự nhiên, chất lượng, hỗ trợ hệ tiêu hoá của bé hoạt động tốt hơn.', N'Fristi.jpg')
GO
SET IDENTITY_INSERT [dbo].[tSanPhamGioHang] ON 

INSERT [dbo].[tSanPhamGioHang] ([MaSanPhamGioHang], [MaGioHang], [MaSanPham], [SoLuong]) VALUES (1, 1, N'SP031', 1)
INSERT [dbo].[tSanPhamGioHang] ([MaSanPhamGioHang], [MaGioHang], [MaSanPham], [SoLuong]) VALUES (2, 1, N'SP026', 3)
INSERT [dbo].[tSanPhamGioHang] ([MaSanPhamGioHang], [MaGioHang], [MaSanPham], [SoLuong]) VALUES (3, 1, N'SP027', 3)
SET IDENTITY_INSERT [dbo].[tSanPhamGioHang] OFF
GO
INSERT [dbo].[tTaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'admin', N'admin', N'Admin')
INSERT [dbo].[tTaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'tua', N'1234', NULL)
INSERT [dbo].[tTaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'user', N'user', N'User')
GO
ALTER TABLE [dbo].[tNhanVien] ADD  DEFAULT ('DANGLAM') FOR [TrangThai]
GO
ALTER TABLE [dbo].[tChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDB_tHoaDonBan] FOREIGN KEY([SoHDB])
REFERENCES [dbo].[tHoaDonBan] ([SoHDB])
GO
ALTER TABLE [dbo].[tChiTietHDB] CHECK CONSTRAINT [FK_tChiTietHDB_tHoaDonBan]
GO
ALTER TABLE [dbo].[tChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDB_tSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tChiTietHDB] CHECK CONSTRAINT [FK_tChiTietHDB_tSanPham]
GO
ALTER TABLE [dbo].[tChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDN_tHoaDonNhap] FOREIGN KEY([SoHDN])
REFERENCES [dbo].[tHoaDonNhap] ([SoHDN])
GO
ALTER TABLE [dbo].[tChiTietHDN] CHECK CONSTRAINT [FK_tChiTietHDN_tHoaDonNhap]
GO
ALTER TABLE [dbo].[tChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDN_tSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tChiTietHDN] CHECK CONSTRAINT [FK_tChiTietHDN_tSanPham]
GO
ALTER TABLE [dbo].[tGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tGioHang_tKhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tKhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tGioHang] CHECK CONSTRAINT [FK_tGioHang_tKhachHang]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tKhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tKhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tKhachHang]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tNhanVien]
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonNhap_tNhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tNhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[tHoaDonNhap] CHECK CONSTRAINT [FK_tHoaDonNhap_tNhaCungCap]
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonNhap_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonNhap] CHECK CONSTRAINT [FK_tHoaDonNhap_tNhanVien]
GO
ALTER TABLE [dbo].[tKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_tKhachHang_tTaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[tTaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tKhachHang] CHECK CONSTRAINT [FK_tKhachHang_tTaiKhoan]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tTaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[tTaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tTaiKhoan]
GO
ALTER TABLE [dbo].[tSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tSanPham_tLoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[tLoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[tSanPham] CHECK CONSTRAINT [FK_tSanPham_tLoaiHang]
GO
ALTER TABLE [dbo].[tSanPhamGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tSanPhamGioHang_tGioHang] FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[tGioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[tSanPhamGioHang] CHECK CONSTRAINT [FK_tSanPhamGioHang_tGioHang]
GO
ALTER TABLE [dbo].[tSanPhamGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tSanPhamGioHang_tSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tSanPhamGioHang] CHECK CONSTRAINT [FK_tSanPhamGioHang_tSanPham]
GO
