<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/login_signup/css/style.css" rel="stylesheet" />
	<script src="~/login_signup/js/fontawesome.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
